@import "tailwindcss";

:root {
  --primary: #0e7490;
  --primary-light: #22d3ee;
  --accent: #0891b2;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
